:root {
  --dark-color: #181818;
  --gray-dark: #474747;
  --gray-light: #757575;
}

.lato-font {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
*{
  margin: 0;
}

/* banner section */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fceef1;
  background-size: cover;
  margin: 0;
}
.banner-title {
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 5px;
}
.banner-content {
  padding-left: 240px;
  padding-top: 197px;
  padding-bottom: 147px;
  padding-right: 97px;
}
.gray-dark {
  color: var(--gray-light);
  font-size: 18px;
}
.banner-profile-photo {
  width: 635px;
  height: 800px;
  padding-top: 50px;
  padding-right: 240px;
}
.btn-primary {
  width: 177px;
  height: 64px;
  background-color: #e55473;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}
/* second section */
.section-title {
  text-align: center;
  margin-top: 100px;
}
.section-title h2 {
  font-size: 40px;
  font-weight: 900;
}
.section-title p {
  max-width: 500px;
  margin: 10px auto;
  font-size: 18px;
  color: var(--gray-light);
}
.flower-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 40px 20px;
  flex-wrap: wrap;
}
.flower-card {
  padding: 20px;
  border-radius: 0 0 20px 20px;
  width: 464px;
  position: relative;
}
.flower-image-wrapper {
  background: pink;
  border-radius: 300px 300px 0 0;
  overflow: hidden;
  height: 538px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.flower-card:nth-child(2) .flower-image-wrapper {
  background: #e0f7fa;
}
.flower-card:nth-child(3) .flower-image-wrapper {
  background: #e8f5e9;
}
.flower-image-wrapper img {
  padding-top: 110px;
  padding-left: 76px;
  padding-right: 78px;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.flower-card h4 {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  text-decoration: underline;
}
/* dalivery system */
 .dalivery{
    margin: 0 190px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    padding: 87px 175px;
 }
.dalivery-card img{
    margin-left: 100px;
    margin-right: 100px;
}
.item-servic{
    color: var(--gray-light);
    text-align: center;
}
/* offer section  */

.container{
  width: 550px;
  text-align: center;
}

.offer{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 87px 350px;
}
.offer-title{
  font-size: 40px;
  font-weight: 900;
}
.offer-description{
  color: var(--gray-light);
}
/* Instagrame */
.instagram-container{
  text-align: center;
}
.img-part{
  padding: 87px 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* latest-deals */
.latest-deals{
  background-image: url(https://ik.imagekit.io/yqnbhdlo4/Img/Rectangle%209.png?updatedAt=1753788146775);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 150px;
  text-align: center;
}
input{
  width: 700px;
  height: 50px;
  font-size: 15px;
  padding-left: 15px;
  background-color: none;
  border-radius: 8px;
  margin-right: 10px;
  border: none;
  padding: 5px;
}